// @mixin grid-layout() {
//     width: 100%;
//     max-width: 1216px;
    
//     margin: 0 auto;
// }
/* GRID LAYOUT */
.grid {
    width: 100%;
    max-width: 1216px;
    
    margin: 0 auto;
}
/* GRID LAYOUT */

@mixin style-btn($height, $bg, $fontSize) {
    background-color: $bg;
    display: flex;
    align-items: center;
    height: $height;
    padding: 0 24px;

    font-size: $fontSize;
    color: $gray-900;
    font-weight: 600;
    line-height: 100%; /* 16px */
    letter-spacing: -0.48px;

    // filter: drop-shadow(0 0 10px $bg);
    transition: all .3s ease;

    &:hover {
        filter: drop-shadow(0 0 7px $bg) brightness(1.1);
    }
    &:active {
        filter: drop-shadow(0 0 7px $bg) brightness(0.8);
    }
}
.btn-primary {
    @include style-btn(48px, $pink-10, 1.6rem);

    &.lg {
        @include style-btn(64px, $pink-10, 18px);
    }
}
.btn-white {
    font-family: $font-headers, $font-main;
    @include style-btn(48px, $w, 1.6rem);

    &.lg {
        @include style-btn(64px, $w, 1.8rem);
    }
}

.item-digital {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    width: 100%;
    max-width: 38.4rem;

    .icon {
        display: flex;
        align-items: center;
    }

    .info {
        width: 100%;
        max-width: 31.9rem;

        h6 {
            line-height: 150%;
            letter-spacing: -0.66px;
            margin-bottom: .8rem;
        }
        p {
            color: $gray-600;
            letter-spacing: -0.54px;
        }
    }
}

.card-post {
    // width: 100%;
    // max-width: 80rem;
    border: 2px solid rgba(255, 255, 255, 0.08);
    background: rgba(255, 255, 255, 0.02);
    padding: 2.4rem;

    .tag {
        display: inline-block;
        padding: 0.8rem 2.2rem;
        border-radius: 100px;
        background: rgba(255, 255, 255, 0.10);

        font-family: $font-headers, sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 100%; /* 14px */
        letter-spacing: 1.26px;
        text-transform: uppercase;

        margin-bottom: 4.5rem;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // gap: 5.653rem;

        .image {
            display: flex;
            justify-content: center;
    
            margin-bottom: 5.653rem;
        }
    
        .info-post {
            max-width: 48.2rem;
    
            h6 {
                line-height: 120%; /* 26.4px */
                letter-spacing: -0.66px;
    
                margin-bottom: .8rem;
            }
    
            p {
                color: $gray-600;
                font-size: 1.6rem;
                letter-spacing: -0.48px;
            }
        }
    }
}


// RESPONSIVIDADE:
@media screen and (max-width: 991px) {
    .item-digital {
        text-align: center;

        .icon {
            justify-content: center;
        }

        .info p br {
            display: none;
        }
    }
}

// Mobile
@media screen and (max-width: 520px) {
    .card-post {
        padding: 16px;

        .tag {
            padding: 7px 19.25px;
    
            font-size: 14px;
            text-align: center;
        }

        .content .info-post {
            max-width: 294px;

            h6 {
                font-size: 18px;
                letter-spacing: -0.54px;
            }
            p {
                letter-spacing: -0.42px;

                br {
                    display: none;
                }
            }
        }
    }
}