footer {
    @include spacing-lateral();
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    
    .content-footer {
        display: flex;
        justify-content: space-between;

        padding-bottom: 6.4rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.24);
        margin-bottom: 2.4rem;

        .marca {
            max-width: 27.9rem;

            img {
                margin-bottom: 24px;
            }
            p {
                color: $gray-600;
                font-size: 16px;
                letter-spacing: -0.48px;
            }
        }

        .navs {
            flex-grow: 1;
            max-width: 79.2rem;
            
            display: flex;
            justify-content: space-between;

            .item-nav {
                h6 {
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: -0.48px;
                }

                h6, ul li:not(:last-child){
                    margin-bottom: 3.2rem;
                }

                ul li a {
                    color: $gray-600;
                    font-size: 16px;
                    line-height: normal;
                    letter-spacing: -0.48px;

                    display: flex;
                    align-items: center;
                    gap: 1.6rem;

                    transition: all .3s ease;

                    &:hover {
                        color: $gray-100;
                    }
                }
            }
        }
    }

    .copy {
        color: $gray-600;
        font-size: 1.6rem;
        line-height: normal;
        letter-spacing: -0.48px;

        strong {
            font-weight: 600;
        }
    }


    // RESPONSIVIDADE:
    // Monitores pequenos
    @media screen and (max-width: 1200px) {
        .content-footer {
            gap: 4.8rem;
        }
    }

    // Tablet
    @media screen and (max-width: 991px) {
        .content-footer {
            flex-direction: column;

            .marca {
                max-width: 100%;
                text-align: center;
            }
        }
    }

    // Tablet pequeno
    @media screen and (max-width: 768px) {
    }

    // Mobile
    @media screen and (max-width: 560px) {
        padding-top: 55px;
        padding-bottom: 55px;

        .content-footer {
            text-align: center;
            padding-bottom: 48px;

            .navs {
                flex-direction: column;
                align-items: center;
                gap: 4.8rem;
    
                .item-nav {        
                    ul li a {
                        justify-content: center;
                        gap: 5px;
                    }
                }
                .item-nav:last-child {
                    ul {
                        display: flex;
                        gap: 16px;

                        li {
                            margin-bottom: 0;
                        }
                    }
                }
            }            
        }

        .copy {
            text-align: center;
        }
    }
}