section#s-hero {
    position: relative;
    @include spacing-lateral();
    padding-top: 11.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;

    overflow: hidden;
    &::after {
        content: '';
        width: 100%;
        height: 20rem;
        background-color: $pink-10;
        position: absolute;
        bottom: 0;
        z-index: -1;
    }

    .info-hero {
        position: relative;
        width: 100%;
        max-width: 71.9rem;

        text-align: center;        
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;

        h1 {
            position: relative;
            font-weight: 600;
            letter-spacing: -1.68px;

            margin-bottom: 2.4rem;

            &::before {
                content: '';
                // width: 100%;
                max-width: 59.9rem;
                height: 2.2rem;
                background: url(../assets/line-title.svg) no-repeat left center;

                position: absolute;
                left: 3.9rem;
                bottom: -5px;
                z-index: -1;

                animation: drawLine .7s ease-in forwards;
            }
        }

        p {
            max-width: 55.6rem;

            color: $gray-300;
            letter-spacing: -0.54px;

            margin-bottom: 3.2rem;
        }

        img.arrow {
            position: absolute;
            left: 5.5rem;
            bottom: 1.718rem;

            animation: floating 3s ease-in-out infinite;
        }
    }

    // picture {
    //     line-height: 0;
    // }
    .ilustra-mobile {
        display: none;
    }


    // ANIMAÇÕES:
    @keyframes drawLine {
        0% {
            width: 0;
        }
        100% {
            width: 100%;
        }
    }

    @keyframes floating {
        0% {
            transform: translateX(-5px);
        }
        50% {
            transform: translateX(10px);
        }
        100% {
            transform: translateX(-5px);
        }
    }

    // RESPONSIVIDADE:
    @media screen and (max-width: 991px) {
        &::after {
            height: 12rem;
        }
    }

    @media screen and (max-width: 768px) {
        padding-top: 7rem;

        .info-hero {
            h1 {
                max-width: 49rem;

                &::before {
                    background-size: 100%;
                    left: 0;
                    bottom: -4px;
                }
            }

            img.arrow {
                max-width: 70px;
                left: 2.2rem;
                bottom: 3rem;
            }
        }
    }

    // Celulares:
    @media screen and (max-width: 560px) {
        padding-top: 8.8rem;

        &::after {
            height: 22rem;
        }

        .info-hero {
            h1 {
                font-size: 40px;
                letter-spacing: -1.2px;
                margin-bottom: 10px;

                &::before {
                    // min-width: 350px;
                    left: -5px;
                    bottom: -5px;
                }
            }

            p {
                margin-bottom: 24px;
                letter-spacing: -0.48px;
            }

            img.arrow {
                display: none;
            }
        }
        
        .ilustra {
            display: none;
        }
        .ilustra-mobile {
            display: block;
            position: relative;
            left: 35px;
        }
    }

    // excessao:
    @media screen and (max-width: 440px) {
        .ilustra-mobile {
            left: 15px;
        }        
    }
}