section#s-newsletter {
    @include spacing-lateral();
    background-color: $pink-10;
    padding-top: 8.9rem;
    padding-bottom: 8.9rem;

    .grid {
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        max-width: 64.6rem;
        font-weight: 600;
        letter-spacing: -1.44px;

        margin-bottom: 1.6rem;
    }
    p {
        max-width: 68.7rem;

        font-size: 22px;
        letter-spacing: -0.66px;

        margin-bottom: 2.4rem;
    }


    // RESPONSIVIDADE:
    // Monitores pequenos
    @media screen and (max-width: 1200px) {
    }

    // Tablet
    @media screen and (max-width: 991px) {
    }

    // Tablet pequeno
    // @media screen and (max-width: 768px) {
    // }

    // Mobile
    @media screen and (max-width: 560px) {
        padding-top: 8.9rem;
        padding-bottom: 8.9rem; 

        h2 {
            font-size: 40px;
            letter-spacing: -1.2px;

            margin-bottom: 15px;
        }

        p {
            font-size: 18px;
            letter-spacing: -0.54px;
            max-width: 325px;

            margin-bottom: 32px;
        }
    }
}