$font-main: 'Inter';
$font-headers: 'Sora';

$pink-10: #F67ACB;
$pink-20: #CF62A9;
$pink-30: #9D457F;
$w: #fff;
$gray-100: #F5F6FA;
$gray-200: #DFE1E8;
$gray-300: #C0C3CC;
$gray-400: #ABAFBA;
$gray-500: #979BA6;
$gray-600: #787C87;
$gray-700: #5C5F69;
$gray-800: #393B42;
$gray-900: #0A0B0D;
$b: #000;


@mixin spacing-section() {
    padding: 60px 20px;

    @media screen and (max-width: 480px) {
        padding: 40px 15px;
    }
}
@mixin spacing-lateral() {
    padding: 0 20px;

    @media screen and (max-width: 480px) {
        padding: 0 15px;
    }
}